:root {
    /* Master Colors */
    --main-bg: #FFC000;
    --date-bg: #C6D9F1;
    --special-day: #FFFF00;

    /* Per Entry Colors */
    --practical-bg: #FFFFCC;
    --additional-bg: #cdffd7;
    --clinical-bg: #FFFF00;
    --sdl-bg: #F2DBDB;
    --break-bg: #C2D69B;
    --pbl-bg: #B6DDE8;

    /* Subject Colors */
    --ana: #CC0066;
    --bio: #FF9933;
    --emb: #9900FF;
    --his: #004400;
    --mic: #0099CC;
    --pat: #6666FF;
    --pha: #CC00CC;
    --phy: #669900;
    --psy: #FFFF00;
    --rad: #45818E;
}

/* Main Settings */
@font-face {
    font-family: 'FLMPregular';
    src: url('footlightmtproregular-webfont.woff2') format('woff2'),
         url('footlightmtproregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FLMPbold';
    src: url('footlightmtprobold-webfont.woff2') format('woff2'),
         url('footlightmtprobold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FLMPextrabold';
    src: url('footlightmtproextrabold-webfont.woff2') format('woff2'),
         url('footlightmtproextrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FLMPlight';
    src: url('footlightmtprolight-webfont.woff2') format('woff2'),
         url('footlightmtprolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    font-family: "FLMPregular";
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 4vh;
}

h6 {
    font-size: 0.83em;
    text-wrap: wrap;
}

h4 {
    font-size: 0.85em;
    text-wrap: wrap;
}

table, tr, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0px;
}

table {
    width: 920px;
    margin: auto;
    margin-top: 3vh;
}

.Flex {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 4px;
}

.InfoHeader{
    background-color: var(--main-bg);
    height: 40px;
}

.TitleHeader {
    height: 60px;
    font-size: larger; font-weight: 900;
    background-color: var(--main-bg);
}

.ChairPersonHeader {
    background-color: var(--main-bg);
}

.WeekDays {
    background-color: var(--date-bg);
}

.WeekDays th {
    width: 20%;
}

/* End of Main Settings */

/* Special Occasions */

.SpecialDay {
    background-color: var(--special-day);
}

/* End of Special Occasions */

/* Displays */

.LectureDisplay {
    padding: 0 12px;
    height: 120px;
}

.PracticalDisplay {
    background-color: var(--practical-bg);
    height: 240px;
}

.AdditionalDisplay {
    background-color: var(--additional-bg);
    height: 240px;
}

.ClinicalDisplay {
    background-color: var(--clinical-bg);
    height: 240px;
}

.BreakDisplay {
    background-color: var(--break-bg);
}

.SDLDisplay {
    background-color: var(--sdl-bg);
    height: 120px;
}

.PBLDisplay {
    background-color: var(--pbl-bg);
    height: 240px;
}

.Navigation {
    width: 60%;
    margin: auto;
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    font-weight: 900;
}

.Navigation a {
    color:blueviolet;
}

/* End of Displays */

/* Subject classes */

.ana h5{
    color: var(--ana);
}

.bio h5{
    color: var(--bio);
}

.emb h5{
    color: var(--emb);
}

.his h5{
    color: var(--his);
}

.mic h5{
    color: var(--mic);
}

.pat h5{
    color: var(--pat);
}

.pha h5{
    color: var(--pha);
}

.phy h5{
    color: var(--phy);
}

.psy h5{
    color: var(--psy);
}

.rad h5{
    color: var(--rad);
}



/* End of Subject classes */

/* Start of RWD */

@media screen and (max-width: 1px) {
    .Navigation {
        width: 60%;
        margin: auto;
        margin-top: 3vh;
        display: flex;
        justify-content: space-between;
        font-size: 1.25em;
        font-weight: 900;
    }

    .InfoHeader{
        height: 3vh;
    }
    
    .TitleHeader {
        height: 5vh;
    }

    .LectureDisplay {
        padding: 0 12px;
        height: 12.5vh;
    }
    
    .PracticalDisplay {
        background-color: var(--practical-bg);
        height: 25vh;
    }
    
    .BreakDisplay {
        background-color: var(--break-bg);
    }
    
    .SDLDisplay {
        background-color: var(--sdl-bg);
        height: 12.5vh;
    }
    
    .PBLDisplay {
        background-color: var(--pbl-bg);
        height: 25vh;
    }
}


@media screen and (max-width: 1px) {
    .Navigation {
        width: 60%;
        margin: auto;
        margin-top: 3vh;
        display: flex;
        justify-content: space-between;
        font-size: 1.25em;
        font-weight: 900;
    }
    
    .InfoHeader{
        height: 2vh;
    }
    
    .TitleHeader {
        height: 3vh;
    }

    .LectureDisplay {
        padding: 0 12px;
        height: 7.5vh;
    }
    
    .PracticalDisplay {
        background-color: var(--practical-bg);
        height: 15vh;
    }
    
    .BreakDisplay {
        background-color: var(--break-bg);
    }
    
    .SDLDisplay {
        background-color: var(--sdl-bg);
        height: 7.5vh;
    }
    
    .PBLDisplay {
        background-color: var(--pbl-bg);
        height: 15vh;
    }
}
/* END of RWD * /